 <div
          class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white"
        >
          <div
            class="u-container-layout u-similar-container u-container-layout-4"
          >
            <div
              alt=""
              class="u-image u-image-circle u-image-4"
              data-image-width="800"
              data-image-height="773"
              style="background: url({{this.image}});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
"
            ></div>
            <h4 class="u-text u-text-6">{{this.text}}</h4>
          </div>
        </div>


<article class="c-article">
  <div class="c-article__header">
    <img src="{{this.image}}">
  </div>

  <div class="c-article__body">
    <h1 class="c-title">
      Caramel au beurre salé
    </h1>

    <div class="c-content">
      <p class="c-content__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat les crêpes c'est la vie culpa dolor fugiat error veritatis sit voluptatibus? Le caramel au beurre salé mec, saepe impedit porro numquam dolores quos maiores architecto vero. Quas.
      </p>

      <p class="c-content__paragraph">
        Quasi, saepe au chocolat aussi ça tue numquam dolores quos maiores architecto vero. Quas.
      </p>
    </div>
  </div>
</article>