<form action="">

  <div class="create-banner">
    <h1>Create New Banner</h1>

    <br />
    <p>Fill in the fields <br />The number of banners must be at least 4</p>
  </div>

  <div class="form_group">
    <h1>Banner N1</h1>
    <div class="u-form-group u-form-name">
      <input
        type="text"
        placeholder="Введите ваше имя"
        name="img1"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1"
        required=""
      />
    </div>
    <div class="u-form-group u-form-name mmt">
      <input
        type="text"
        placeholder="Введите ваше имя"
        name="title1"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1"
        required=""
      />
    </div>
    <div class="u-form-group u-form-message mmt">

      <textarea
        placeholder="Введите сообщение"
        rows="4"
        cols="50"
        name="decr1"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3"
        required=""
      ></textarea>
    </div>
  </div>
  <div class="form_group">
    <h1>Banner N2</h1>
    <div class="u-form-group u-form-name">
      <input
        type="text"
        placeholder="Введите ваше имя"
        name="img2"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1"
        required=""
      />
    </div>
    <div class="u-form-group u-form-name mmt">
      <input
        type="text"
        placeholder="Введите ваше имя"
        name="title2"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1"
        required=""
      />
    </div>
    <div class="u-form-group u-form-message mmt">

      <textarea
        placeholder="Введите сообщение"
        rows="4"
        cols="50"
        name="decr2"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3"
        required=""
      ></textarea>
    </div>
  </div>
  <div class="form_group">
    <h1>Banner N3</h1>
    <div class="u-form-group u-form-name">
      <input
        type="text"
        placeholder="Введите ваше имя"
        name="img3"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1"
        required=""
      />
    </div>
    <div class="u-form-group u-form-name mmt">
      <input
        type="text"
        placeholder="Введите ваше имя"
        name="title3"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1"
        required=""
      />
    </div>
    <div class="u-form-group u-form-message mmt">

      <textarea
        placeholder="Введите сообщение"
        rows="4"
        cols="50"
        name="decr3"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3"
        required=""
      ></textarea>
    </div>
  </div>
  <div class="form_group">
    <h1>Banner N4</h1>
    <div class="u-form-group u-form-name">
      <input
        type="text"
        placeholder="Введите ваше имя"
        name="img4"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1"
        required=""
      />
    </div>
    <div class="u-form-group u-form-name mmt">
      <input
        type="text"
        placeholder="Введите ваше имя"
        name="title4"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1"
        required=""
      />
    </div>
    <div class="u-form-group u-form-message mmt">

      <textarea
        placeholder="Введите сообщение"
        rows="4"
        cols="50"
        name="decr4"
        class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3"
        required=""
      ></textarea>
    </div>
  </div>

</form>