{{>header}}

<div class="product_page">
     <div class="coverflow">
         {{#each cards}}
      


        <article class="c-article">
  <div class="c-article__header">
    <img src="{{this.image}}">
  </div>

  <div class="c-article__body">
    <h1 class="c-title">
      {{this.text}}
    </h1>

    <div class="c-content">
      <p class="c-content__paragraph">
{{this.decr}}      </p>

     
    </div>
  </div>
</article>
    {{/each}} 
     </div>
    
   
 
  
{{>footer}}